@import url("https://fonts.cdnfonts.com/css/graphik");
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Graphik", sans-serif;
}
html,body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}