.text {
  font-size: 1rem;
  font-weight: bold;
}
.text1 {
  border-radius: 50%;
}
.text1:hover,.text2 {
  border: 4px solid teal;
}
.categ {
  justify-content: center;
  align-items: center;
  width: 50%;
  /* border: 1px solid black; */
  gap: 20px;
}
.categ > div {
  justify-content: center;
  align-items: center;
}
.categ > div > img {
  width: 8vh;
  height: 8vh;
}
.main > div:last-child {
  width: 40vh;
  margin-left: auto;
}
.main > div:last-child > select {
  width: 100px;
}
