.icon {
  position: absolute;
  top: 10px;
  right: 15px;
  height: 40px;
  width: 40px;
}
.icon1 {
  fill: gray;
  border-color: gray;
}
.icon2 {
  fill: teal;
  border-color: teal;
}
.main{
  margin: auto;
  margin-top: 10vh;
}
.main > div:first-child {
  /* width: 50%; */
  background-color: #f7f7f7;
  position: relative;
  padding-bottom: 1rem;
}
.main > div:first-child > img:first-child {
  width: 100%;
  height: 400px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main > div:first-child > div:nth-child(2) {
  /* width: 80%; */
  height: 150px;
  /* border: 1px solid gray; */
  margin: auto;
  border-radius: 10px;
  justify-content: center;
  gap: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.main > div:first-child > div:nth-child(2) > img {
  /* width: 30%; */
  height: 80%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main > div:nth-child(2) {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  /* border: 1px solid teal; */
  justify-content: center;
  align-items: center;
}
.main > div:nth-child(2) > * {
  width: 60%;
}
@media screen and (max-width: 768px) {
  .main>div:nth-child(2)>*{
    width: 90%;
  }
}
.main > div:nth-child(2) > h2:first-child {
  font-size: 2rem;
  color: rgb(44, 42, 42);
  margin-bottom: 2rem;
}
.main > div:nth-child(2) > div:nth-child(2) > div>h3:first-child {
  /* font-size: 2rem; */
  font-weight: 500;
}
.main > div:nth-child(2) > div:nth-child(2) >div> h3:nth-child(2) {
  font-weight: 500;
  text-decoration: line-through;
  color: rgb(150, 146, 146);
}
.main > div:nth-child(2) > div:nth-child(2) >p:nth-child(2) {
  color: rgb(112, 111, 111);
}
.main > div:nth-child(2) > div:nth-child(3) {
  font-weight: 400;
  margin-bottom: 2rem;
}
.main > div:nth-child(2) >.btn {
  background-color: #20a87e;
  color: white;
  font-weight: 500;
}
.main > div:nth-child(2) >.btn1{
  background-color: gray;
  color: white;
  font-weight: 500;
}