@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap");
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}
* {
  box-sizing: border-box;
}
.card-form {
 
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: space-around;
  /* border: 1px solid red; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin-top: 4vh;
  box-sizing: border-box;
}
.card-form__inner {
  background: #fff;
  border-radius: 10px;
  width: 40%;
  padding: 10px;
  /* border: 1px solid black; */
}
@media screen and (max-width: 800px) {
  .card-form {
    margin: 0 auto;
    display: block;
    padding: 10px;
    width: 80%;
  }
  .card-form__inner {
    width: 100%;
    margin-top: 22vh;
  }
}
@media screen and (max-width: 533px) {
  .card-form {
    width: 100%;
    margin: auto;
  }
  .card-form__inner {
    width: 100%;
    margin-top: 23vh;
  }
}
@media screen and (max-width: 320px) {
  .card-form__inner {
    padding: 15px;
  }
  .card-form {
    width: 100%;
    margin: auto;
    /* font-size: 13px; */
  }
}
.card-form__row {
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 480px) {
  .card-form__row {
    flex-wrap: wrap;
  }
}
.card-form__col {
  flex: auto;
  margin-right: 35px;
}
.card-form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 480px) {
  .card-form__col {
    margin-right: 0;
    flex: unset;
    width: 100%;
    margin-bottom: 0px;
  }
  .card-form__col:last-child {
    margin-bottom: 0;
  }
}
.card-form__col.-cvv {
  max-width: 150px;
}
@media screen and (max-width: 480px) {
  .card-form__col.-cvv {
    max-width: initial;
  }
}
.card-form__group {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.card-form_group,.card-input_input {
  flex: 1;
  margin-right: 15px;
}
.card-form_group,.card-input_input:last-child {
  margin-right: 0;
}

.card-list {
  margin-bottom: -130px;
}
@media screen and (max-width: 480px) {
  .card-list {
    margin-bottom: -120px;
  }
}
.card-input {
  margin-bottom: 20px;
}
.card-input__label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 500;
  color: #1a3b5d;
  width: 100%;
  display: block;
  user-select: none;
}
.card-input__input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #ced6e0;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  padding: 5px 15px;
  background: none;
  color: #1a3b5d;
  font-family: "Source Sans Pro", sans-serif;
}
.card-input_input:hover,
.card-input_input:focus {
  border-color: #3d9cff;
}
.card-input__input:focus {
  box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
}
.wrapper{margin-bottom: 6vh;}
